/* @import url("grid.css"); */

@import url('https://fonts.googleapis.com/css?family=Anton|Germania+One');
@import url('https://fonts.googleapis.com/css?family=Domine:700');
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  display: grid;
  grid-template-areas:
  "header header"
  "slider slider"
  "main vertical-menu"
  "footer footer";
  grid-template-rows: 100px auto 1fr 60px;
  grid-template-columns:  minmax(700px, 1200px) 1fr;
}

header,
#slider,
main,
#vertical-menu,
footer {
  background: #CF0E1C;
}

header {
  grid-area: header;

}

#slider {
  grid-area: slider;

}

main {
  grid-area: main;

}
#vertical-menu {
  grid-area: vertical-menu;
}
footer {
  grid-area: footer;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  display: grid;
  position: fixed;
  background: #CF0E1C;
  top: 0;
  height: 100px;
}

header nav {
  display: grid;
  grid-template-columns: 13fr 2fr;
  align-items: center;
}

header a {
  color: white;
  text-transform: uppercase;
}
header ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font: 1.3em;
  height: 100%;
}

header li {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%
}

header li:hover {
  background: 	#87050E;
}
header p {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5px;
}



/*.unmarked {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.submenu {visibility: hidden; display: flex;}
.top-menu:hover .submenu {
  display: flex;
  flex-direction: column;
  visibility: visible;
}*/


#slider li {
  display: none;/*при прокрутке слайдера меню пропадает, дальше появляется опять*/
}
#slider li.active {
  display: block;
  position: relative;
}
.item{
 position:absolute;
 top: 10%;
 left: 20%;
 bottom: 10%;
 font-size: 7em;
 color: #5EC2B7;
 font-family: 'Germania One', cursive;

}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
}
.articles h1 {
  grid-row: 1/2;
  grid-column: 1/3;
  margin: 30px auto;
  top: 10px;
  font-size: 2em;
}

.card a {
line-height: 1.5;
padding: 20px;
width: 570px;
height: 400px;
}

.card a:hover {
  color: #5EC2B7;
}
.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px;
}
.galery h2 {
  grid-row: 1/3;
  grid-column: 1/4;
  font-size: 2em;
  margin:  10px auto;
  font-size: 2em;
  }
.card a,
  .font {
  color: white;
  font-family: 'Domine', serif;
  }
  .galery img {
    opacity: 0.5;
    position: static;/*почему после объявления прозрачности картинки стали наезжать на меню при прокрутке*/
  }
  .galery img:hover {
    opacity: 1;
  }
  .galery a:hover{
    color: #3AC2B3;
  }

  footer {
  color: white;
  }
  address,
  time {
  position:relative;
  left: 40%;
   }
.unmarked {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.submenu {visibility: hidden;}
.nav:hover .submenu {  visibility: visible;}

@media screen and (max-width: 320px) {
  #slider,
  #vertical-menu,
  .item {
    display: none;
  }
  header{
    height: 40vw;
  }
  header nav {
    display: grid;
    grid-template-columns:  3fr;
    align-items: center;
    max-width: 320px;

  }

  header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font: 1em;

  }

  .articles {
    top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 5px;
    margin: 5px;
  }
  .card a {
  line-height: 1.5;
  padding: 10px;
  width: 300px;
  height: 200px;
  }
  .galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 5px;
  }
}
  @media screen and (max-width: 360px) {
    #slider,
    #vertical-menu,
    .item {
      display: none;
    }
    header{
      height: 40vw;
    }
    header nav {
      display: grid;
      grid-template-columns:  3fr;
      align-items: center;
      max-width: 360px;

    }
    header ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font: 1em;
    }
    .articles {
      top: 20px;
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      gap: 5px;
      margin: 5px;
    }
    .card a {
    line-height: 1.5;
    padding: 10px;
    width: 340px;
    height: 200px;
    }
    .galery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      margin: 5px;
    }

  }
@media screen and (max-width: 480px) {
  #slider,
  #vertical-menu,
  .item {
    display: none;
  }
  header{
    height: 40vw;
  }
  header nav {
    display: grid;
    grid-template-columns: 3fr;
    align-items: center;
    max-width: 480px;

  }

  header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font: 1em;
  }
  .articles {
    top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 5px;
    margin: 5px;
  }
  .card a {
  line-height: 1.5;
  padding: 10px;
  width: 460px;
  height: 200px;
  }
  .galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 5px;
  }
}
@media screen and (max-width: 768px) {

  #slider,
  #vertical-menu,
  .item {
    display: none;
  }
  header{
    height: 40vw;
  }
  header nav {
    display: grid;
    grid-template-columns:  3fr;
    align-items: center;
    max-width: 320px;
  }

  header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font: 1em;
  }

  .articles {
    top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 5px;
    margin: 5px;
  }
  .card a {
  line-height: 1.5;
  padding: 10px;
  width: 300px;
  height: 200px;
  }
  .galery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 5px;
  }
}

@media screen and (max-width: 1024px) {

  .item {
  position: absolute;
  top: 10%;
  left: 20%;
   font-size: 5em;
   color: #5EC2B7;
   font-family: 'Germania One', cursive;
 }
}

/*
@media screen and (max-width: 320px) {
  #slider,
  #vertical-menu,
  .item {
    display: none;
  }

  header,
  main,
  footer {
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: center;
  }
  nav {
    display: flex;
    flex-direction: row;
     width: 320px;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .galery,
  .articles {
    display: flex;
    flex-direction: column;
    width: 95vw;
    flex-wrap: wrap;
  }
  .galery img {
    margin: 5px;
  }
  }
  @media screen and (max-width: 360px) {
    #slider,
    #vertical-menu,
    .item {
      display: none;
    }
    header,
    main,
    footer {
      display: flex;
      flex-direction: column;
      width: 360px;
      justify-content: center;
    }
    * nav {
      display: flex;
      flex-direction: row;
       width: 360px;
      flex-wrap: wrap;
      align-content: space-around;
    }

    .galery,
    .articles {
      display: flex;
      flex-direction: column;
      width: 95vw;
      flex-wrap: wrap;
    }
    .galery img {
      margin: 5px;
    }
    }
@media screen and (max-width: 480px) {
#slider,
#vertical-menu,
.item {
  display: none;
}
header,
main,
footer {
  display: flex;
  flex-direction: column;
  width: 460px;
  justify-content: center;
}
 nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.galery,
.articles {
  display: flex;
  flex-direction: column;
  width: 80vw;
  flex-wrap: wrap;
  margin: 10px;
}
.galery img {
  margin: 5px;
 }
}
@media screen and (max-width: 768px) {

  .item {
   top: 10%;
   left: 20%;
   bottom: 10%;
   font-size: 2em;
   color: #5EC2B7;
   font-family: 'Germania One', cursive;/* в адаптиве выходит за пределы слайдера*/
}
  #slider {
    height: 30vh;
  }
  header,
  main,
  footer {
    display: flex;
    flex-direction: column;
    width: 768px;
    justify-content: center;
  }
 nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .galery,
  .articles {
    display: flex;
    flex-direction: column;
    width: 90vw;
    flex-wrap: wrap;
  }
  .galery img {
    margin: 5px;
  }
}


@media screen and (max-width: 1024px) {

  .item {
  position: absolute;
  top: 10%;
  left: 20%;
   font-size: 5em;
   color: #5EC2B7;
   font-family: 'Germania One', cursive;
 }
}
*/
